<script src="C:\Users\isach\OneDrive\Desktop\net_angular\Proiect_net\Proiect\ClientApp\src\assets\js\sidebar.js"></script>
<body>
  <app-nav-menu></app-nav-menu>


  <div class="d-flex" id="wrapper">

    <div id="page-content-wrapper" >
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
        <div class="bg-black text-white border-left custom-sidebar" id="sidebar-wrapper">
      <div class="sidebar-heading">Categories</div>
      <div class="list-group list-group-flush">
        <a routerLink="/category/study" class="list-group-item list-group-item-action bg-black text-white">Study</a>
        <a routerLink="/category/party" class="list-group-item list-group-item-action bg-black text-white">Party</a>
        <a routerLink="/category/barscafes" class="list-group-item list-group-item-action bg-black text-white">Bars and Coffee</a>
        <a routerLink="/category/food" class="list-group-item list-group-item-action bg-black text-white">Food</a>
        <a routerLink="/category/outdoor" class="list-group-item list-group-item-action bg-black text-white">Outdoor</a>
        <a routerLink="/category/activities" class="list-group-item list-group-item-action bg-black text-white">Activities</a>
      </div>
    </div>

  </div>
</body>


