
.background-container {
  background-image: url('C:\Users\isach\Downloads\back.jpeg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  height: 80vh; /* Adjust the height as needed */
  width: 90vw;
}
